.pkg H3 {
	PADDING-LEFT: 34px; FONT: 11px verdana,helvetica,tahoma,sans-serif; CURSOR: pointer; HEIGHT: 18px
}
H3.collapser-expanded {
	BACKGROUND: url(pkg-open.gif) #fff no-repeat 0px -1px
}
H3.collapser-collapsed {
	BACKGROUND: url(pkg-closed.gif) #fff no-repeat 0px -1px
}
.pkg-body {
	FONT: 11px verdana,helvetica,tahoma,sans-serif; MARGIN-LEFT: 16px
}
#classes A {
	DISPLAY: block; PADDING-LEFT: 34px; BACKGROUND: url(class.gif) #fff no-repeat 16px -1px; FONT: 11px verdana,helvetica,tahoma,sans-serif; COLOR: black; WHITE-SPACE: nowrap; HEIGHT: 18px; TEXT-DECORATION: none; -moz-outline: none; outline: none
}
#classes A:hover {
	TEXT-DECORATION: underline
}
#classes A.ex {
	BACKGROUND: url(example.gif) #fff no-repeat 16px -1px
}
