



#menu {list-style-type:none; padding:0; margin:0 auto;}
#menu ul {list-style-type:none; padding:0; margin:0;}
#menu li {float:left; margin:1px 1px 0 0;position:relative;}
#menu li.sub {background:#4096A7;border-radius: 3px 3px 3px 3px;margin-left: 120px;}
#menu li, #menu li a {display:block; color:#fff; font-family:arial, sans-serif;padding:2px; font-size:13px; line-height:24px; width:110px; text-decoration:none; text-align:center; cursor:pointer; font-weight:bold;}
#menu li:hover, #menu li a:hover {}
#menu ul {position:absolute;left:-9999px;width:128px;}
#menu li.click {background:#c00;}
#menu li.click ul{left:-122px; top:24px; background:url(transparent.gif);} /* the background image is for IE7 */

.sub2{
background: none repeat scroll 0 0 #62CA37;
    border-radius: 3px 3px 3px 3px;
    float: right;
    margin-right: 20px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-top: 3px;
    width: 160px;
}
.add_cohoi{
background:#f6f6f6;min-height:500px; min-width:600px; border:1px solid #ccc;box-shadow: 0 2px 6px #CCCCCC;
}
