#news1{
width:100%;
float:left;	

height:auto;
border:1px solid #a7a7a7;
border-radius:7px 7px 0px 0px;
margin-bottom:10px;

}
#news1 #title{
	height:22px;
	background:url(../images/bg_thietbi.png) repeat-x;
	text-align:center;
	border-radius:5px 5px 0px 0px;
	color:#065baa;
	padding-top:6px;
	text-transform:uppercase;
	font-weight:bold;
}
#news1 p{
	
}
#news1 img{
margin-bottom:8px;	
}
